.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 20vw;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
  display: flex;
  flex-direction: column;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.writeIcon {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-width: 3px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.writeInput {
  background-color: white;
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:last-child {
  font-size: 16px;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  padding: 10px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.item {
  padding: 10px;
  width: 70vw;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  color: #555;
}

.categories{
  display: flex;
  align-items: center;
  gap: 2px;
  color: teal;
}

.writeInput h1 {
  color: #555;
}