.singlePost {
  flex: 9;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 20vw;
  height: 55vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.singlePostTitle {
  text-align: center;
  margin: 5px;
  font-family: 'Lora', serif;
  font-size: 26px;
}

.singlePostTitleInput {
  margin: 5px;
  font-family: 'Lora', serif;
  font-size: 26px;
  text-align: center;
  color: gray;
  border: none;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(224, 191, 0);
  font-family: 'Varela Round', sans-serif;
}

.singlePostStory {
  color: #666;
  font-size: 18px;
  text-align: justify;
  margin-right: 15px;
}

.singlePostStory::first-letter {
  margin-left: 50px;
  font-size: 32px;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  text-align: justify;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostButton {
  width: 100px;
  color: white;
  margin-top: 50px;
  border: none;
  background-color: teal;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}